*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #151515;
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100%;
    margin: 0;
}

.largura-container {
    overflow: hidden;
    min-height: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 0;
}

/*  Mobile  */
header {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.imagem-header {
    position: relative;
    width: 100px;
    height: 00px;
}

.container {
    position: absolute;
    top: 0;
}

.name {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.33px;
    color: rgba(255, 255, 255, 1);
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    width: 154px;
}

.nav-links-container li {
    width: 19.69px;
    height: 19.2px;
}

.nav-links-container li a:hover svg {
    fill: #4D4DFF;
}

.imagem {
    position: absolute;
    width: 174px;
    height: 383px;
    left: 101px;
}

.imagem img {
    width: 100%;
    background: linear-gradient(rgba(36, 36, 36, 0.0001) 100%, #242424 100%);
}

.header-oval {
    position: absolute;
    width: 530px;
    height: 129px;
    top: 124px;
    right: 187px;
}

.header-circle {
    position: absolute;
    height: 129px;
    width: 129px;
    top: 254px;
    right: -65px;
}

.header-message-container {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.name-span {
    border-bottom: 4px solid #4D4DFF;
}

.header-message {
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
}

.contact-link-header {
    color: #ffffff;
    border-bottom: 2px solid #4D4DFF;
    line-height: 38px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
}

.contact-me-link:hover {
    color: #4EE1A0;
}

.skills-wrapper {
    position: relative;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-top: 80px;
    margin-left: 16px;
    margin-right: 16px;
}

.skills-wrapper h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    line-height: 40px;
    margin-top: 24px;
    margin-bottom: 1px;
}

.skills-wrapper p {
    color: rgba(217, 217, 217, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-top: 0;
}

.skills-wrapper p:last-child {
    margin-bottom: 40px;
}

.skills-oval {
    position: absolute;
    width: 530px;
    height: 129px;
    bottom: -62px;
    left: 189px;
}

.projects-wrapper {
    margin-top: 42px;
}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-left: 16px;
    margin-right: 16px
}

.project-title {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
    margin-bottom: 0;
}

.contact-me-link {
    color: #ffffff;
    border-bottom: 2px solid #4D4DFF;
    line-height: 38px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 10px;
}

#project-contact {
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    align-self: flex-end;
    line-height: 26px;
}

.project-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-bottom: 0px;
}

.project-container figure {
    margin-left: 16px;
    margin-right: 16px;
    width: 343px;
    height: 253px;
    margin-top: 40px;
}

.project-container img {
    width: 100%;
}

.project-container h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-left: 16px;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.project-tools-container ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 16px;
}

.project-tools-container li {
    line-height: 28px;
    color: rgba(217, 217, 217, 1);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.tool-1 {
    padding-right: 18px;
}

.tool-2 {
    padding-right: 20px;
}

.project-links {
    margin-top: 20px;
}

.project-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2.29px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid #4D4DFF;
    text-transform: uppercase;
}

.project-links a:first-of-type {
    margin-left: 16px;
    margin-right: 30px;
}

#contact-section {
    background-color: #242424;
    position: relative;
}

.contact-oval {
    position: absolute;
    width: 530px;
    height: 129px;
    bottom: 107px;
    right: 188px;
}

.contact-message-container {
    margin-left: 16px;
    margin-right: 16px;
}

.contact-form-container {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.error-icon {
    position: absolute;
    right: 2px;
    top: 72px;
}

.hide-error-icon {
    display: none;
}

.contact-message-container h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
    text-align: center;
    padding-top: 60px;
    margin: 0;
}

.contact-message-container p {
    color: rgba(217, 217, 217, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 20px;
}

/* Form */
label {
    display: none;
}

form input {
    background-color: #242424;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    height: 43px;
    width: 343px;
}

#form-email,
#form-message {
    margin-top: 11px;
}

form input::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.22px;
    padding-left: 24px;
}

form textarea {
    background-color: #242424;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    height: 107px;
    width: 343px;
}

textarea::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.22px;
    padding-left: 24px;
}

.send-message-button {
    background-color: #242424;
    border: none;
    color: #ffffff;
    border-bottom: 2px solid #4D4DFF;
    line-height: 36px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 11px;
}

.send-message-button:hover {
    color: #4D4DFF;
}

.send-button-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 87px;
}

.error {
    color: rgba(255, 111, 91, 1);
    font-weight: 500;
    font-size: 12px;
    height: 16px;
    letter-spacing: -0.17px;
    margin: 0;
    padding-top: 5px;
    text-align: right;
}

/* DESKTOP */
@media(min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        min-width: 1100px;
    }

    .name {
        font-size: 32px;
        letter-spacing: -.44px;
        margin-top: 39px;
    }

    header {
        height: 720px;
    }

    .move-words-down {
        display: inline;
    }

    .name-span {
        line-height: 88px;
        border-bottom: 6px solid #4D4DFF;
    }

    .header-message-container {
        width: 706px;
        margin-left: 165px;
        position: relative;
        align-self: flex-start;
        height: 449px;
        margin-top: -450px;
    }

    .header-message-container h1 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
        align-self: flex-start;
        font-weight: 700;
        color: rgba(255, 255, 255, 1);
        margin: 0;
        text-align: left;
    }

    .header-message {
        margin-top: 43px;
        margin-bottom: 66px;
        line-height: 28px;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        margin-left: 0;
    }

    .imagem-header {
        width: 1000px;
        height: 100%;
    }

    .imagem {
        position: absolute;
        width: 345px;
        height: 600px;
        margin-top: 100px;
        margin-right: -50px;
        top: 0;
        right: 185px;
        left: 700px;
    }

    #selfie {
        content: url('img/175867816786781-.png');
    }

    .contact-link-header {
        align-self: flex-start;
    }

    .skills-wrapper {
        margin-top: 104px;
        margin-left: 165px;
        margin-right: 165px;
        border-bottom: none;
    }

    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 14px;
    }

    .article-container h2 {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: -1.5px;
        line-height: 56px;
        margin-top: 52px;
        margin-bottom: 14px;
        text-align: left;
    }

    .projects-wrapper {
        margin-top: 100px;
    }

    .project-heading {
        margin-left: 32px;
        margin-right: 30px;
        padding-bottom: 11px;
    }

    .project-title {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
        margin-top: 0;
    }

    #project-contact {
        align-self: center;
        text-align: center;
    }

    .project-wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-bottom: 112px;
    }

    .project-container {
        margin-left: 165px;
        margin-right: 165px;
        margin-bottom: 139px;
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .project {
        position: relative;
        width: 540px;
        height: 200px;
        margin-top: 69px;
        cursor: pointer;
    }

    .project-container figure {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        width: 540px;
        height: 400px;
    }

    .project-container h3 {
        margin-left: 100px;
    }

    .project-tools-container ul {
        margin-left: 0;
    }

    .project-links a:first-of-type {
        margin-left: 0;
    }

    .projects-wrapper {
        margin-top: 140px;
    }

    .project-heading {
        padding-bottom: 11px;
        margin-left: 165px;
        margin-right: 165px
    }

    .project-title {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
    }

    .project-container figure {
        margin: 0;
        width: 540px;
        height: 400px;
    }

    .project-links {
        position: absolute;
        top: 100px;
        left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        margin: 0;
    }

    .project-links a:first-of-type {
        margin-right: 0;
        margin-bottom: 60px;
    }

    .project-links a:hover {
        color: #4D4DFF;
    }

    .contact-message-container h2 {
        text-align: left;
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -2.5px;
    }

    .contact-message-container {
        margin-top: 0;
    }

    .contact-message-container p {
        text-align: left;
        font-size: 18px;
        line-height: 28px;
        width: 445px;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form-container {
        border-bottom: none;
        margin-left: auto;
        margin-right: 200px;
        width: 445px;
    }

    .send-button-container {
        padding-bottom: 92px;
    }
}

#fale-comigo {
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h5 {
    background-color: #333;
    color: aliceblue;
    font-size: 20px;
}
